/* for all */

* {
    font-family: "Oxygen", sans-serif;
    padding: 0%;
    margin: 0%;
}


/* for section one and header */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(music-bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


/* navigation bar */

#navbar {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background: rgba(225, 225, 225, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}


/* logo */

#navbar img {
    width: 3rem;
    height: 4rem;
    padding: 0;
    margin: -40px;
}

div #music {
    margin-left: 70px;
    font-size: xxx-large;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 19px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    font-weight: 700;
    transition: 0.5s;
}


/* underline effect */

nav ul li a::after {
    content: "";
    width: 0%;
    height: 0.2rem;
    background: red;
    display: block;
    margin: auto;
    border-radius: 2rem;
    transition: 0.7s;
}


/* hover effect */

nav ul li a:active,
nav ul li a:hover {
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

nav ul li a:hover::after {
    width: 100%;
}


/* text written in image */

.text {
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -20%);
    position: absolute;
    text-align: center;
}

.text h1 {
    font-size: 4rem;
}

.text p {
    font-size: 1.15rem;
    font-weight: 600;
    margin-top: 1rem;
}


/* menu or hamburger */

.fa {
    display: none;
}


/* media querry */

@media only screen and (max-width: 700px) {
    /* navbar background effect */
    #navbar {
        background: rgba(225, 225, 225, 0.2);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }
    /* logo */
    #navbar img {
        height: 45px;
        width: 40px;
    }
    /* Text Logo */
    div #music {
        margin-left: 40px;
        font-size: xxx-large;
    }
    /* hamburger */
    .fa {
        display: flex;
        font-size: xx-large;
    }
    /* navigation menu in phone */
    nav ul {
        background: linear-gradient(#005bea, #00c6fb);
        width: 100%;
        top: 75px;
        z-index: 2;
        height: 400px;
        right: 0px;
        position: absolute;
    }
    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
    /* section 2 */
    section #friends {
        margin: 20px 0px;
        list-style: none;
    }
    section #song {
        margin: 20px 40px;
    }
    section li {
        list-style: none;
        margin-top: 10px;
    }
    #singers {
        display: none;
    }
    .singers {
        display: none;
    }
    .text {
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -110%);
    }
}

#list {
    display: flex;
    background: linear-gradient(rgba(39, 192, 192, 0.829), #00ff8f);
}

#friends {
    margin: 30px 290px;
}

#song {
    margin: 30px 100px;
}

#singers {
    display: flex;
    background: linear-gradient(#00ff8f, #00ddff);
    height: 100vh;
    width: 100%;
}

.singers {
    width: 25%;
    height: 400px;
    float: left;
    font-size: 25px;
    margin-top: 4rem;
    margin: 5rem 3.2rem;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

.singers h3 {
    margin-left: 30px;
}

.singers li {
    margin-top: 2rem;
    width: 240px;
}